@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cookie_container {
  animation: popup_kf 1s ease-out 1;

  position: fixed;
  bottom: 10%;
  right: 2%;

  box-shadow: 3px 3px 4px rgb(140, 140, 140);
  border-radius: 1rem;
  padding: 10px 20px;
  min-width: 15rem;
  max-width: 20rem;

  & p {
    word-break: normal;
  }

  & h2 {
    font-size: 1.5rem;
  }

  & svg {
    font-size: 3rem;
  }
}

.btn_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 5px;
}

@keyframes popup_kf {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 10%;
  }
}
